<div id="wrapper">
  <header>
    <h1>Vital Signs: Life Expectancy By County</h1>
    <p>Life expectancy refers to the average number of years a newborn is expected to live if mortality patterns remain the same. The measure reflects the mortality rate across a population for a point in time.</p>
    <p>Data Source: State of California, Department of Health: Death Records (1990-2013)</p>
  </header>
  <div id="content">
    <div class="instructions">Click headers to sort. Use textboxes to filter.</div>
    <div class="instructions">Hover mouse over textboxes for detailed filtering instructions.</div>
    <div id='life-expectancy-table'></div>
    <div class="instructions">Click county names to hide/show values in graph.</div>
    <div id='life-expectancy-graph'>
      <%= line_chart(@chart_data, min: 70, max: 85) %>
    </div>
  </div>
  <footer>
    <p>Data provided by <a href="https://www.vitalsigns.mtc.ca.gov/">Vital Signs</a>
  </footer>
</div>

<script>
  $('#life-expectancy-table').WATable({
    pageSizes: [10, 25, 100],
    filter: true,
    data: {
      cols: {
        county: {
          index: 1,
          type: "string",
          friendly: "County",
          placeHolder: "e.g. Napa County"
        },
        year: {
          index: 2,
          type: "number",
          friendly: "Year",
          placeHolder: "e.g. =1998"
        },
        life_expectancy: {
          index: 3,
          type: "number",
          friendly: "Life Expectancy",
          placeHolder: "e.g. 78..80"
        }
      },
      rows: <%= raw @dataset.to_json %>
    }
  });
</script>
